@{
    ViewBag.Title = "Contact";
}
<div id="contactinfo">

<h2>Contact Page</h2>


<address>
    If you need to contact me, just knock on my front door. 
    I'm usually home...if I don't answer just hang out on the porch til I pull in the driveway.
    @*sorry, viewer gets rick rolld*@
    <iframe width="640" height="360" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
</address>

</div>