@{
    ViewBag.Title = "Home Page";
}

<div id="jumbo" class="jumbotron">
    <h1>Retro Alley Reviews</h1>
    <p class="lead">Welcome to R.A.R. Where you and a whole community reviews games an stuff!</p>
    <p><a href="~/Games/Index">Reviews</a></p>
</div>
<div>
    <div class="row">
        <div class="col-lg-8">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/VCBPJxu1Jtg?list=PLk9HE-FDaRP2N7jb2rP4cAfWvK-co44ah" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="updates" class="col-lg-4">
            <h3>Update: 02/12/17</h3>
            <hr />
            Our community added some more reviews!<br />  @*Experimenting with videos*@
           Also as a shout out to Fuzznec, this guy makes awesome NES remixes. Check him out!<br />
            (< - - - Remix #1 is over nyah) 
        </div>
    </div>
</div>
